// Font Family
$main-font: "Space Mono", Arial, sans-serif;
$primary-font: "Lexend Deca", Arial, sans-serif;
// Colors
$yellow: #fcb72b;
$darkNavy: #495567;
$dimGray: #939caa;
$lightGray: #e5ecf4;
$snow: #f2f5f9;
$lightYellow: #fff4df;
$whiteColor: #fff;
//Button color
$button-bg-color: #fcb72b;
// h1 font size and line hight
$h1-size: 56px;
$h1-lineHight: 1;
$h1-letterSpacing: -2.5px;
// h2 font size and line hight
$h2-size: 48px;
$h2-lineHight: 1;
$h2-letterSpacing: -2.14px;
// h3 font size and line hight
$h3-size: 40px;
$h3-lineHight: 1.2;
$h3-letterSpacing: -1.78571px;
// h4 font size and line hight
$h4-size: 24px;
$h4-lineHight: 1.17;
$h4-letterSpacing: -1.07143px;
